.SideBar {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.SideBarDiv {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

