.Table {
  max-width: 100%;
  margin: 30vh auto;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; */
}

.list-horizontal li {
  display: inline-block;
  cursor: pointer;
}
.list-horizontal li:before {
  content: "\00a0\2022\00a0\00a0";
  color: #999;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
.list-horizontal li:first-child:before {
  content: "";
}
